@charset"utf-8";

*{
	margin: 0px;
	padding: 0px;
}

.nomargin{
	margin: 0px !important;
}
.nopadding{
	padding: 0px !important;

}
.w100{
	width: 100%;
	height:auto;
	float: left;
}

@media (min-width:0px)and(max-width: 767px){
	.pull-right{
		float: left !important;

	}
}

@media(max-width: 767px){
	.pull-right{
		float: left!important;
	}
}
@media(min-width:768px){
	.w100{
		width: auto !important;
	}
}


.active > a{
	background: rgb(194,50,50) !important;
}

.navbar-inverse{
	margin-bottom: 0px;
	background: rgb(3,19,51) !important;
	border-radius: 0px !important;
	border: 15px solid rgb(194,50,50)

}

.navbar-nav > li:hover > a{
	background: rgb(194,50,50) !important;

}

.navbar-nav > li > a{
	color:rgb(234,192,33) !important;
}

.navbar-brand >  {
	margin-top: 0px !important;
	margin-bottom: 0px  !important;

}

.img-fluid{
	width: 100%;
	height: auto;
	margin-bottom: 0px  !important;

}

.zoomin img{
	height: 410px !important;
	width: 410px !important;
	-webkit-transition: all 2s ease !important;
	-moz-transition: all 2s ease !important;
	-ms-transition: all 2s ease !important;
	transition: all 2s ease !important;
}

.zoomin img:hover {
	width: 625px !important; 
	height: 625px !important;
}

.content-section-a{
	padding: 50px 0;
	background-color: rgb(242,242,242);
	font-size: 12px !important;
	font-color: white !important;


}

.col-md-7{
	width: 400px !important;
}

.content-section-b{
	background-color: rgb(196,37,47);	padding: 50px 0;
	border-top: 1px solid rgb( 231,231,231);

}

.content-section-c{
	padding: 50px 0;
	background-color: rgb(242,242,242);

}

.banner{
	padding: 100px 0;
	color: rgb(248,248,248);
	width: 100% !important;
	min-height: 100% !important;
	height: 100% !important;
	background: url(../images/emg7.jpg); no-repeat center;
	background-size: cover;


}

.bg-dark{
	background: rgb(3,19,51);
	width: 100%;
	min-height: 10px;
	float: left;
	color: rgb(255,255,255) !important;
}