  <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
 <div id="wrapper">
        <div class="overlay"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Colectivo Gráfico
                    </a>
                </li>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="#">Karla Graciela</a>
                </li>
                <li>
                    <a href="#">Victor Alvarenga</a>
                </li>
                <li>
                    <a href="#">Erick Hernandez</a>
                </li>
                 <li>
                    <a href="#">Leonidez Hernandez</a>
                </li>
            </ul>
        </nav>
  </div>   


  <div class="container-fluid nopadding">
    <header>
      <nav class="navbar navbar-inverse" role="navigation">

        <div class="navbar-header">
          <img src="../img/logograzz.png" ><a href="#">Graziella González</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only"> Desplegar navegaci&oacute;n</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav pull-right w100">
            <li class="active">
              <a href="#">About me</a>
            </li>

            <li>
              <a href="#">Portfolio</a>
            </li>
            <li>
              <a href="#">More</a>
            </li>
            <li>
              <a href="#"> <span class="glyphicon glyphicon-search"></span></a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    </header>
    <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                  <span class="hamb-top"></span>
                  <span class="hamb-middle"></span>
                   <span class="hamb-bottom"></span>
            </button>
    <section>
      <div class="container">
    <div class="row">
      <div class="col-md-7">
        <hr class="section-heading-spacer">
        <br>
        <h2 class="section-heading"><a href="#">Karla Graciela González </a></h2>
        <br>
        <p class="lead">
          En esta oportunidad te presento una guia de algunos de los trabajos en el área de branding digital. imagen coorporativa y trabajos freelance.
          <br>
          ya que construir una marca (en inglés, brand equity) mediante la administración estratégica del conjunto total de activos vinculados en forma directa o indirecta al nombre y/o símbolo (logotipo) que identifican a la marca influyendo en el valor de la marca, tanto para el cliente como para la empresa propietaria de la marca.
          <br>
          <br>
          El trabajo que se muestra es muy variado, y de diferentes tipos, por lo que se muestran los mas representativos y relevantes a travez  de este año...
                   
        </p>
      </div>

      <div class="col-md-5">
        <hr class="section-heading-spacer">
        <img src="../img/grazziella.jpg" class="img-fluid">

      </div>
      
</section>


<section>
  <article class="cont-tiro1">
    <hr class="section-heading-spacer">
    <article id="mislide" class="carousel slide">
      
        <ol class="carousel-indicators">
          <li class="active" data-target="#mislide" data-slide-to="0"></li>
          <li data-target="#mislide" data-slide-to="1"></li>
          <li data-target="#mislide" data-slide-to="2"></li>
          <li data-target="#mislide" data-slide-to="3"></li>

        </ol>
        
        <div class="carousel-inner">
          <div class="item active">
            <img src="../img/grazz1.jpg" class="adaptar">
          </div>
          <div class="item">
            <img src="../img/grazz3.png" class="adaptar">
          </div>
          <div class="item">
            <img src="../img/slide2.png" class="adaptar">
          </div>
          <div class="item">
            <img src="../img/slide1.jpg" class="adaptar">
          </div>
        </div>
        
        <a href="#mislide" 
        class="left carousel-control" 
        data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a  href="#mislide" 
      class="right carousel-control"
      data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </article>
  
      
    </div>
  </div>
  </article>
  
      <div class="container">
    <div class="row">
      
      <div class="col-md-5">
        <img src="../img/grazz5.jpg" class="img-fluid">

      </div><hr class="section-heading-spacer">
      <div class="col-md-7">
        
        <br>
        <h2 class="section-heading"> <a href="#">Conceptos y desafíos </a></h2>
        <br>
        <p class="lead">"Algunas personas hacen que sucedan cosas,otras ven las cosas suceder mientras unos pocos se preguntan qué pasó.
        <br>
        Casey Stengel.
        <br>
        <p class="lead"> El mayor de los desafíos es complacer al cliente y al público al mismo tiempo, ya que se debe de comunicar la escencia y al mismo tiempo persuadir que es la mejor opción que se le esta ofrenciendo, sobre la competencia.  
        <br>
        <p class="lead">
        La marca es lo que nos distingue de la competencia.

      </div>
    </div>
  </div>
  </article>
</section>


  <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-bottom ">Copyright &copy; Your Website 2017</p>
      </div>
 


<div class="bannergrazz">
    <div class="container">
      <div class="row">

      <div class="col-md-8">Contact me</div>
      <br>
      <p class="text-right">
          <span class="glyphicon glyphicon-envelope">
          <span class="glyphicon glyphicon-phone">
          <span class="glyphicon glyphicon-floppy-save">
            </p>

      </div>
    </div>
  </div>
    
  </footer>

</div>
</div>


    <!-- Bootstrap core JavaScript-->
   <script src="../js/jquery/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script> 
  </div>
</body>

</html>
