<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
 <div id="wrapper">
        <div class="overlay"></div>
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                       Colectivo Gráfico
                    </a>
                </li>
                <li>
                    <a href="../index.html">Inicio</a>
                </li>
                <li>
                    <a href="#">Karla Graciela</a>
                </li>
                <li>
                    <a href="#">Victor Alvarenga</a>
                </li>
                <li>
                    <a href="#">Erick Hernandez</a>
                </li>
                 <li>
                    <a href="#">Leonidez Hernandez</a>
                </li>
            </ul>
        </nav>
  </div>    
        <!-- /#sidebar-wrapper -->

<!-- esta seccion es el carrusel  -->
 <section>
     <article id="miSlide" class="carousel slide">
                 <ol class="carousel-indicators">

                    <li class="active" 
                    data-target="#miSlide" 
                    data-slide-to="0"></li>

                    <li data-target="#miSlide" 
                    data-slide-to="1"></li>

                    <li data-target="#miSlide" 
                    data-slide-to="2"></li>

                    <li data-target="#miSlide" 
                    data-slide-to="3"></li>

                    <li data-target="#miSlide" 
                    data-slide-to="4"></li>
                 </ol>

            <div class="carousel-inner">
              <div class="item active"><img src="../img/img1.jpg" class="adaptar"></div>

              <div class="item"><img src="../img/img2.jpg"></div>

              <div class="item"><img src="../img/img3.jpg"></div>

               <div class="item"><img src="../img/img7.jpg"></div>

               <div class="item"><img src="../img/img8.jpg"></div>
            </div>
            
            <a href="#miSlide" class="left carousel-control" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span></a>

            <a href="#miSlide" class="right carousel-control" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span></a>
            
     </article>

<!-- aqui comienza el articulo con los textos -->

        <div id="page-content-wrapper">
            <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                  <span class="hamb-top"></span>
                  <span class="hamb-middle"></span>
                   <span class="hamb-bottom"></span>
            </button>
            <div class="container dvfooter">
                <div class="row">
                    <div class="col-md-5">
                       <img src="../img/floki.jpg" class="img-fluid">  
                    </div>
                    <div class="col-md-7">
                    <h2 class="section-heading nomargin">Victor Alvarenga</h2>
                       <br>
                      <p class="lead">Hola! en esta oportunidad te presento mis mejores
                        trabajos de ilustración digital, en los cuales he aplicado diferentes tecnicas y estilos. Los softwares que utilizo para 
                        crear mis obras son Addobe Photoshop, Addobe Ilustrator y Paint Tool Sai. Mi trabajo se caracteriza por ser muy versátil y llamativo. En esta seccion te muestro a Floki, un fan art inspirado en un personaje de la serie vikingos, el cual tiene multiples personalidades y es uno de los mas representativos de toda la serie. 
                        </p>
                       <hr class="section-heading-spacer">
                    </div>
                </div>
            </div>
          <div>
      <article class="content-section-a">
        <div class="container">
          <div class="row">
              <div class="col-md-7">
              <hr class="section-heading-spacer"/>
              <br/>
              <h2 class="section-heading">Ornitorrinco</h2>
              <br/>
              <p class="lead">Propuesta para personaje principal de cuento infantil 
                para la empresa The Book Project. La dinamica consistia en crear al 
                personaje principal del cuento para niños, este debía ser un personaje
                divertido y con muchas cualidades.
              </p>
            </br>
              </div>

              <div class="col-md-5">
                <img src="../img/icon1.jpg" class="img-fluid">
              </div>
            </div>
        </div>
      </article>
      <article class="content-section-b">
        <div class="container">
          <div class="row">
               <div class="col-md-5">
                <img src="../img/meca.jpg" class="img-fluid">
              </div>
                <div class="col-md-7">
                   <hr class="section-heading-spacer"/>
                   </br>
                   <h2 class="section-heading">Estudio de personajes</h2>
                   <br>
                   <p>El estudio de personajes muestra diferentes estilos que se 
                    pueden adaptar facilmente a cualquier plataforma y cualquier 
                    interes que el comprador necesite. En esta oportunidad muestro a un
                    mecánico, representa a uno de los oficios mas importantes en cualquier
                    sociedad, ya que ellos se encargan de dar mantenimiento a nuestros 
                    medios de transporte, es por esto que quise homenajear a las personas
                    que viven de ese trabajo, por medio de la ilustracion.
                   </p>  
                </div>
           </div>
          </div>
      </article>
    <article class="content-section-c">
        <div class="container">
          <div class="row">
               <div class="col-md-6">
                <img src="../img/img5.jpg" class="img-fluid">
              </div>
                <div class="row">
               <div class="col-md-6">
                <img src="../img/img4.jpg" class="img-fluid">
              </div>
    </article>
</section>
<!-- aqui termina todo el contenido y empieza el footer -->


<footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
</footer>
        </div>

    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script> 
  </div>
</body>

</html>
